/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e9e7e7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./fondo-tecnologico-geometrico-color-azul_1055-1907.avif);

}
.container{
    border: 1px solid blue;
    margin: 40px;
    transform: translateX(50%);
    transform: translatey(50%);
    width: 20%;
    margin-bottom: 500px;
    box-shadow:0px 4px  8px #0056b3;
    border-radius: 20px;

}

.contact-form-container {
    max-width: 400px;
    width: 100%;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   
}

.blanco{
    color: #e9e7e7;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;

}

label {
    margin-bottom: 5px;
    color: #030000;
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

input, textarea {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus, textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 3px rgba(179, 125, 10, 0.3);
   
}
input{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;

}



button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}
